requests==2.23.0
pytest==5.3.5
allure-pytest==2.8.13
jsonschema==3.0.1
psycopg2-binary==2.8.5
pathlib==1.0.1
setuptools
jira==2.0.0
cachetools==4.0.0
pytest-xdist==1.31.0
pytest-timeouts==1.2.1
dateutils==0.6.8
redis==4.4.4
addict==2.2.1
property-cached==1.6.4
cached-property==1.5.1
slackclient==2.3.1
portainer-api==1.22.1.1
jenkins-job-builder==3.1.0
marshmallow==3.6.0
loguru==0.4.0
sshtunnel==0.1.5
influxdb==5.3.0
kafka-python==1.4.6
sh==1.12.14
